* {
	box-sizing: border-box;
}
.Displayed {
	display: inline-block;
}
.NotDisplayed {
	display: none;
}
.IShopComponent {
	width: 520px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: lavender;
	min-height: 500px;
}
.ShopName {
	width: 510px;
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 24px;
	color: darkslateblue;
	padding: 10px;
}
th {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 14px;
	border-top: 1px solid #dce3e9;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #dce3e9;
	border-left: 1px solid #dce3e9;
	border-bottom: 1px solid #dce3e9;
	margin: 0;
}
th.ProductNameInTable {
	text-align: center;
}
td {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 16px;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #dce3e9;
	border-left: 1px solid #dce3e9;
	border-bottom: 1px solid #dce3e9;
	margin: 0;
}
.ProductImg {
	max-width: 70px;
	max-height: 50px;
}
.ProductUrlInTable {
	width: 180px;
	padding: 5px;
}
.ProductNameInTable {
	width: 240px;
	text-align: left;
}

.ProductPriceInTable {
	width: 100px;
}
.ProductLeftInTable {
	width: 80px;
}
.ProductDeleteInTable {
	width: 70px;
	background-color: lightcoral;
	color: #7e2b2b;
}
.ProductEditInTable {
	width: 70px;
	background-color: #93f080;
	color: #1c3a10;
}
tr {
	background-color: white;
	height: 70px;
}
tr:hover:not(thead tr) {
	background-color: #eeebf5;
	cursor: pointer;
}
tr.ProductSelected,
tr.ProductSelected:hover {
	background-color: #c3c3e0;
}

.ErrorMessage {
	color: red;
}
