* {
	box-sizing: border-box;
}
.IShopComponent {
	width: 520px;
	padding: 10px;
	margin-right: auto;
	margin-left: auto;
	background-color: lavender;
	min-height: 500px;
}
.ShopName {
	width: 510px;
	text-align: center;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 24px;
	color: darkslateblue;
	padding: 10px;
}
th {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
	font-size: 14px;
	border-top: 1px solid #dce3e9;
	padding: 10px;
	text-align: center;
	border-right: 1px solid #dce3e9;
	border-left: 1px solid #dce3e9;
	border-bottom: 1px solid #dce3e9;
	margin: 0;
}
th.ProductNameInTable {
	text-align: center;
}
